<div class="container-fluid all-info">
  <div class="row">
    <a>Информация об организациях</a>
  </div>
  <div class="row">
    <div class="card user-info">
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <div class="row buttons-row">
              <div class="col-sm-8">
                <a>Организации</a>
              </div>
              <div class="col-sm-4">
                <div class="d-grid gap-1 d-md-flex justify-content-md-end">
                  <button type="button" class="btn btn-secondary btn-sm me-md-2 disabled add-button" (click)="onAddOwner()" [disabled]="isEdited == true || ownerInfo == null">+</button>
                  <button type="button" class="btn btn-secondary btn-sm me-md-2 edit-button" (click)="editModeIsOn()" [disabled]="isEdited == true || ownerInfo == null">~</button>
                  <button type="button" class="btn btn-secondary btn-sm me-md-2 disabled delete-button" (click)="onDeleteOwner()" [disabled]="isEdited == true || ownerInfo == null">-</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="d-flex align-items-start user-navigation">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link" id="users" data-bs-toggle="pill" type="button" role="tab"
                          *ngFor="let ownerId of ownerIdsList; let i = index" (click)="onOwnerChanged(ownerId)">
                    {{ownerId}}
                  </button>

                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            Информация об организации
            <div class="user-info-area" *ngIf="ownerInfo != null">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Id</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerId"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.id"
                       disabled>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Name</span>
                <input type="text"
                       class="form-control"
                       aria-label="Ownername"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.name"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Phone</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerPhone"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.phone"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Telegram phone</span>
                <input type="text"
                       class="form-control"
                       aria-label="TelegramPhone"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.telegram_phone"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">State</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerState"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.state"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Inn</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerInn"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.inn"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Type of business</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerTypeOfBusiness"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.type_of_business"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Contact phone</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerContactPhone"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.contact_phone"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Contact email</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerContactEmail"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.contact_email"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Partner ID</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerPartnerId"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.partner_id"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Partner name</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerPartnerName"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.partner_name"
                       [disabled]="isEdited == false">
                <button type="button" class="btn btn-primary director-info-btn" data-bs-toggle="modal" data-bs-target="#partnerInfoExtra">
                  !
                </button>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Business type ID</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerBusinessTypeId"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.business_type_id"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Commission rate</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerCommissionRate"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.commission_rate"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Bank ID</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerBankId"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.bank_id"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Created by</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerCreatedBy"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.created_by"
                       disabled>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Creator name</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerCreatorName"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.creator_name"
                       disabled>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Create time</span>
                <input type="datetime"
                       class="form-control"
                       aria-label="OwnerCreateTime"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.create_time"
                       disabled>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Modify time</span>
                <input type="datetime"
                       class="form-control"
                       aria-label="OwnerModifyTime"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.modify_time"
                       disabled>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Subscription fee</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerSubscriptionFee"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.subscription_fee"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Paid sim subscription fee</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerPaidSimSubscriptionFee"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.paid_sim_subscription_fee"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Clients fee disabled</span>
                <div class="input-group-text">
                  <input class="form-check-input mt-0"
                         type="checkbox"
                         [(ngModel)]="ownerInfo.clients_fee_disabled"
                         [disabled]="isEdited == false">
                </div>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Fee disabled from partner</span>
                <div class="input-group-text">
                  <input class="form-check-input mt-0"
                         type="checkbox"
                         [(ngModel)]="ownerInfo.fee_disabled_from_partner"
                         [disabled]="isEdited == false">
                </div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="partnerInfoExtra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  *ngIf="directorInfo != null">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Director info</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.name"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Surname</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.surname"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Patronym</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.patronym"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Birth date</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.birth_date"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Birth place</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.birth_place"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Citizenship</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.citizenship"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Type</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.type"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Series</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.series"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Number</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.number"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Date of issue</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.date_of_issue"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Issued by</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.issued_by"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Department code</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.name"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Zip code</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.zip_code"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Region</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.region"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Settlement type</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.settlement_type"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Location</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.location"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Street type</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.street_type"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Street</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.street"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Building number</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.building_number"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Block number</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.name"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Room number</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.room_number"
                               disabled>
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Full address</span>
                        <input type="text"
                               class="form-control"
                               aria-describedby="basic-addon1"
                               [(ngModel)]="directorInfo.full_address"
                               disabled>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row buttons-area">
            <div class="col-sm">
              <button type="button" class="btn btn-secondary" (click)="editModeIsOff()" *ngIf="ownerInfo != null" [disabled]="isEdited == false">Назад</button>
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-success" *ngIf="ownerInfo != null" [disabled]="isEdited == false" (click)="onSendChangedOwnerInfo()">Отправить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

