<h2>Owners page</h2>

<div class="container-fluid all-info">
  <div class="row">
    <a>Информация об организациях</a>
  </div>
  <div class="row">
    <div class="card user-info">
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <div class="row buttons-row">
              <div class="col-sm-8">
                <a>Организации</a>
              </div>
              <div class="col-sm-4">
                <div class="d-grid gap-1 d-md-flex justify-content-md-end">
                  <button type="button" class="btn btn-secondary btn-sm me-md-2 disabled add-button" (click)="onAddOwner()" [disabled]="isEdited == true || ownerInfo == null">+</button>
                  <button type="button" class="btn btn-secondary btn-sm me-md-2 edit-button" (click)="editModeIsOn()" [disabled]="isEdited == true || ownerInfo == null">~</button>
                  <button type="button" class="btn btn-secondary btn-sm me-md-2 disabled delete-button" (click)="onDeleteOwner()" [disabled]="isEdited == true || ownerInfo == null">-</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="d-flex align-items-start user-navigation">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link" id="users" data-bs-toggle="pill" type="button" role="tab"
                          *ngFor="let ownerId of ownerIdsList; let i = index" (click)="onOwnerChanged(ownerId)">
                    {{ownerId}}
                  </button>

                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            Информация об организации
            <div class="user-info-area" *ngIf="ownerInfo != null">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Id</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerId"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.id"
                       disabled>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Name</span>
                <input type="text"
                       class="form-control"
                       aria-label="Ownername"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="ownerInfo.name"
                       [disabled]="isEdited == false">
              </div>
              <!--<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Login</span>
    <input type="text"
           class="form-control"
           aria-label="Username"
           aria-describedby="basic-addon1"
           [(ngModel)]="userInfo.login"
           [disabled]="isEdited == false">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Email</span>
    <input type="text"
           class="form-control"
           aria-label="Username"
           aria-describedby="basic-addon1"
           [(ngModel)]="userInfo.email"
           [disabled]="isEdited == false">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Owner Id</span>
    <input type="text"
           class="form-control"
           aria-label="OwnerId"
           aria-describedby="basic-addon1"
           [(ngModel)]="userInfo.owner_id"
           [disabled]="isEdited == false">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Role</span>
    <input type="text"
           class="form-control"
           aria-label="Username"
           aria-describedby="basic-addon1"
           [(ngModel)]="userInfo.role"
           [disabled]="isEdited == false">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Owner name</span>
    <input type="text"
           class="form-control"
           aria-label="Username"
           aria-describedby="basic-addon1"
           [(ngModel)]="userInfo.owner_name"
           [disabled]="isEdited == false">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">My Vendista</span>
    <div class="input-group-text">
      <input class="form-check-input mt-0"
             type="checkbox"
             [(ngModel)]="userInfo.my_vendista"
             [disabled]="isEdited == false">
    </div>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Timezone</span>
    <input type="datetime"
           class="form-control"
           aria-label="Username"
           aria-describedby="basic-addon1"
           [(ngModel)]="userInfo.timezone"
           [disabled]="isEdited == false">
  </div>-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row buttons-area">
            <div class="col-sm">
              <button type="button" class="btn btn-secondary" (click)="editModeIsOff()" *ngIf="ownerInfo != null" [disabled]="isEdited == false">Назад</button>
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-success" *ngIf="ownerInfo != null" [disabled]="isEdited == false" (click)="onSendChangedOwnerInfo()">Отправить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

