<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link" id="clients" data-bs-toggle="pill" type="button" role="tab" routerLink="/owners">Клиенты</button>
    <button class="nav-link" id="users" data-bs-toggle="pill" type="button" role="tab" routerLink="/users">Пользователи</button>
    <button class="nav-link" id="terminals" data-bs-toggle="pill" type="button" role="tab" routerLink="/terminals">Терминалы</button>
    <button class="nav-link" id="banks-tid" data-bs-toggle="pill" type="button" role="tab" routerLink="/bankstid">TID Банка</button>
    <button class="nav-link" id="transactions" data-bs-toggle="pill" type="button" role="tab" routerLink="/transactions">Транзакции</button>
    <button class="nav-link" id="terminals-logs" data-bs-toggle="pill" type="button" role="tab" routerLink="/terminalslogs">Логи терминалов</button>
    <button class="nav-link" id="box-offices" data-bs-toggle="pill" type="button" role="tab" routerLink="/boxoffices">Кассы</button>
  </div>
</div>
