<div id="viewport">
  <!-- Sidebar -->
  <div class="list-group sidebar">
    <a href="#" class="list-group-item list-group-item-action">Клиенты</a>
    <a href="#" class="list-group-item list-group-item-action">Пользователи</a>
    <a href="#" class="list-group-item list-group-item-action">Терминалы</a>
    <a href="#" class="list-group-item list-group-item-action">TID Банка</a>
    <a href="#" class="list-group-item list-group-item-action">Транзакции</a>
    <a href="#" class="list-group-item list-group-item-action">Логи терминалов</a>
    <a href="#" class="list-group-item list-group-item-action">Логи терминалов</a>
    <a href="#" class="list-group-item list-group-item-action">Кассы</a>
  </div>
</div>
