<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" type="button" role="tab">Клиенты</button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" type="button" role="tab">Пользователи</button>
    <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" type="button" role="tab">Терминалы</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" type="button" role="tab">TID Банка</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" type="button" role="tab">Транзакции</button>
    <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" type="button" role="tab">Логи терминалов</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" type="button" role="tab">Кассы</button>
  </div>
</div>
