<!--<h1>Users component</h1>-->

<div class="container-fluid all-info">
  <div class="row">
    <a>Информация о пользователях системы</a>
  </div>
  <div class="row">
    <div class="card user-info">
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <div class="row buttons-row">
              <div class="col-sm-8">
                <a>Пользователи</a>
              </div>
              <div class="col-sm-4">
                <div class="d-grid gap-1 d-md-flex justify-content-md-end">
                  <button type="button" class="btn btn-secondary btn-sm me-md-2 disabled add-button" [disabled]="isEdited == true || userInfo == null">+</button>
                  <button type="button" class="btn btn-secondary btn-sm me-md-2 edit-button" (click)="editModeIsOn()" [disabled]="isEdited == true || userInfo == null">~</button>
                  <button type="button" class="btn btn-secondary btn-sm me-md-2 delete-button" [disabled]="isEdited == true || userInfo == null">-</button>
                </div>
              </div>
            </div>
            <div class="row">
              <!--<table class="table table-hover table-borderless users-table">
                <thead>
                  <tr>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let userId of userIdsList; let i = index">
                    <td>{{userId}}</td>
                  </tr>
                </tbody>
              </table>-->
              <div class="d-flex align-items-start user-navigation">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link" id="clients" data-bs-toggle="pill" type="button" role="tab"
                          *ngFor="let userId of userIdsList; let i = index" (click)="onUserChanged(userId)">>
                    {{userId}}
                  </button>
                 
                </div>
              </div>
            </div>
            </div>
          <div class="col-sm">
            Информация о пользователе
            <div class="user-info-area" *ngIf="userInfo != null">
              <!--<select class="form-select" aria-label="Default select example">
                <option hidden>Выберете команду</option>
                <option>
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">
                    <path fill="#000" fill-rule="evenodd" class="cls-1" d="M8,0L4.141,6.993,0.012,0.156Z" />
                  </svg>

                </option>
              </select>-->
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Id</span>
                <input type="text"
                       class="form-control"
                       aria-label="UserId"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="userInfo.id"
                       disabled>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Name</span>
                <input type="text"
                       class="form-control"
                       aria-label="Username"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="userInfo.name"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Login</span>
                <input type="text"
                       class="form-control"
                       aria-label="Username"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="userInfo.login"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Email</span>
                <input type="text"
                       class="form-control"
                       aria-label="Username"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="userInfo.email"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Owner Id</span>
                <input type="text"
                       class="form-control"
                       aria-label="OwnerId"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="userInfo.ownerId"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Role</span>
                <input type="text"
                       class="form-control"
                       aria-label="Username"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="userInfo.role"
                       [disabled]="isEdited == false">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Owner name</span>
                <input type="text"
                       class="form-control"
                       aria-label="Username"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="userInfo.ownerName"
                       [disabled]="isEdited == false">
              </div>
              <!--<div class="input-group flex-nowrap">
                <span class="input-group-text" id="basic-addon1">My Vendista</span>
                <input type="checkbox" class="form-check-input mt-0" aria-label="Username" aria-describedby="basic-addon1">
              </div>-->
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">My Vendista</span>
                <div class="input-group-text">
                  <input class="form-check-input mt-0"
                         type="checkbox"
                         [(ngModel)]="userInfo.myVendista"
                         [disabled]="isEdited == false">
                </div>
                <!--<input type="text" class="form-control" aria-label="Text input with checkbox">-->
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Timezone</span>
                <input type="datetime"
                       class="form-control"
                       aria-label="Username"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="userInfo.timezone"
                       [disabled]="isEdited == false">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!--<div class="row inputs-area">
            <div class="commandDetailsArea">
              <div class="parameter" >
                <p class="parameter-name"></p>
                <input type="text"
                       class="value"/>
              </div>
              <div class="parameter">
                <p class="parameter-name"></p>
                <input type="text"
                       class="value"/>
              </div>
              <div class="parameter">
                <p class="parameter-name"></p>
                <input type="text"
                       class="value"/>
              </div>
              <div class="parameter">
                <p class="parameter-name"></p>
                <input type="text"
                       class="value"/>
              </div>              
            </div>
          </div>-->
          <div class="row buttons-area">
            <div class="col-sm">
              <button type="button" class="btn btn-secondary" (click)="editModeIsOff()" *ngIf="userInfo != null" [disabled]="isEdited == false">Назад</button>
              <!--<button type="button" class="btn btn-success" (click)="sendCommand()">Отправить</button>-->
            </div>
            <div class="col-sm">
              <!--<button type="button" class="btn btn-secondary" (click)="cancelCommand()">Назад</button>-->
              <button type="button" class="btn btn-success" *ngIf="userInfo != null" [disabled]="isEdited == false">Отправить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row">
    <div class="history">
      <table id="history-table" class="table table-striped">
        <thead class="table-dark">
          <tr class="history-table-header">
            <th scope="col">№</th>
            <th scope="col">Дата и время</th>
            <th scope="col">Команда</th>
            <th scope="col">Параметр 1</th>
            <th scope="col">Параметр 2</th>
            <th scope="col">Параметр 3</th>
            <th scope="col">Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row"></th>
            <td></td>
            <td></td>            
          </tr>
        </tbody>
      </table>
    </div>
  </div>-->
</div>

